
.widgets-colomn a{
	display: block !important;
color: #474747;
font-weight: lighter;
font-size: 1em;
/*padding: 1em;
text-decoration: none;
background-color: #efefef;
border-bottom: 1px solid #e2e2e2;*/
-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset;
-ms-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset;
-o-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset;
box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset;
}

.widgets-colomn a .fa {
float: right;
font-size: 0.8px;
outline: 1px red solid;
}